@import '../../variables.css';

:root {
	--headerHeight: 35px;
}

header {
	background-color: var(--headerBackground);
	height: var(--headerHeight);
	
	h1 {
		color: var(--headerColor);
		font-size: calc(var(--headerHeight) - 10px);
		margin: 0 0 0 10px;
		line-height: var(--headerHeight);
	}
}

main {
	height: calc(100% - var(--headerHeight));
}

.layout-forkme {
	position: absolute;
	top: 42px;
	right: -43px;
	
	transform: rotate(45deg);
	
	padding: 2px;
	
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
	
	background-color: #333;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	
	
	a,
	a:hover {
		color: #fff;
		text-decoration: none;
		text-align: center;

		width: 200px;
		line-height: 20px;
		font-size: 12px;
		
		display: inline-block;
		padding: 2px;

		border: 1px dashed rgba(255, 255, 255, 0.7);
	}
}
